<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tianci.movieplatform">

    <application
        android:allowBackup="true"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:label="@string/app_name" android:name="com.coocaa.homepage.vast.HomePageActivity" android:excludeFromRecents="true" android:launchMode="singleTask" android:configChanges="locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|layoutDirection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="coocaa.intent.action.HOME"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.HOME.CC"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    <activity android:name="com.coocaa.homepage.vast.ChooseAppActivity"
        android:screenOrientation="landscape"
        />

    </application>


</manifest>
